body {
  background: rgb(143, 144, 145);
  display: flex;
  justify-content: center;
}

main {
  background: rgba(131, 131, 131, 1);
  width: 900px;
  height: 600px;
  margin: 100px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}

.canvas {
  background: white;
  width: 880px;
  height: 484px;
  margin: 10px;

}

.cell {
  /*background: black;*/
  width: 10px;
  height: 10px;
  border: .5px solid black;
  float: left;
}

.bottom {
  display: flex;
  flex-direction: row;
}
.color-palette {
  background: rgba(213, 212, 215, 0.35);
  width: 750px;
  height: 90px;
  margin-left: 10px;
}

.color {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  float: left;
  margin: 5px 5px 5px 5px;
}

.current-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.box {
  background: white;
  width: 120px;
  height: 40px;
  align-self: flex-start;
  margin-left: 10px;
}

.label {
  margin-left: 10px;
  justify-content: space-around;
  font-size: 20px;
}
